#users {
  display: flex;
  flex-direction: column;
  margin: 0px;
}

#users_error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 30px;
  color: #c33;
}

.users__button__row {
  display: flex;
  margin-bottom: 20px;
  align-items: flex-start;
}
.users__button__item {
  width: 150px;
  margin-right: 10px;
}
.users__icon__edit {
  fill: #999;
}
.users__icon__delete {
  fill: #c33;
}
