#results {
  display: flex;
  flex-direction: column;
  margin: 20px;
  flex: 1 1 auto;
  min-height: 0px;
  margin: 0px;
}

#results_error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 30px;
  color: #c33;
}

.results__clear__form {
  display: flex;
  margin-bottom: 30px;
}
.results__clear__form-input {
  width: 250px;
  margin-right: 10px;
  display: flex;
  align-items: flex-end;
}

#results__list {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0px;
}
.results__row__test.element-datalist__item-cell {
  color: #39f ;
  font-style: italic;
}