#transfer {
  display: flex;
  flex-direction: column;
  margin: 0px;
}

#transfer_error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 30px;
  color: #c33;
}

.transfer__runner__section {
  border-bottom: 10px solid #f8f8f8;
  margin-bottom: 20px;
}
.transfer__runner__section--fading {
  animation: fadeIn 0.3s ease-out;
}

.transfer__runner__form {
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
}
.transfer__runner__form-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
  background: #f4f4f4;
  flex: 1 1 auto;
  border-radius: 5px;
  margin-left: 100px;
  margin-bottom: 10px;
  width: 660px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.05);
}

.transfer__runner__icon-container {
  padding: 6px;
  transform: scale3d(0.9, 0.9, 0.9);
}
.transfer__runner__icon-container:hover {
  transform: scale3d(1, 1, 1);
}
.transfer__runner__icon {
  margin: 0px 10px;
  fill: #999;
}
.transfer__icon__edit {
  fill: #999;
}
.transfer__icon__reset {
}

.transfer__runner__form-row {
  display: flex;
  margin-bottom: 10px;
  flex-direction: row;
}
.transfer__runner__form-row-label {
  width: 100px;
  font-size: 14px;
  font-weight: bold;
  font-family: Ubuntu;
  display: flex;

  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding-right: 20px;
  padding-top: 19px;
}
.transfer__runner__form-input {
  width: 320px;
  margin-right: 20px;
  display: flex;
  align-items: flex-end;
}
.transfer__runner__form-input--small {
  width: 150px;
}

.transfer__button__row {
  margin-left: 100px;
  margin-bottom: 20px;
  align-items: center;
  flex-direction: row;
  display: flex;
}
.transfer__button__item {
  width: 150px;
  margin-right: 5px;
}

.transfer__all-fields__toggle {
  margin: 0px 20px 10px;
}
.transfer__runner__response-block {
  margin-bottom: 10px;
  padding: 5px 0px;
  border-radius: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.05);
}
.transfer__runner__response-block--regular {
  background: #f8f8f8;
}
.transfer__runner__response-block--advanced {
  background: #ffe6ca;
}

.transfer__runner__response-row {
  display: flex;
  margin: 5px 0px;
  flex-direction: row;
}
.transfer__runner__response-row-label {
  width: 100px;
  font-size: 14px;
  font-weight: bold;
  font-family: Ubuntu;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 20px;
  padding-bottom: 18px;
}
.transfer__runner__response-item {
  width: 320px;
  margin-right: 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  padding: 10px 10px 2px 10px;
}
.transfer__runner__response-item--small {
  width: 150px;
}

.transfer__runner__response-item-label {
  font-size: 12px;
  margin-bottom: 2px;
}
.transfer__runner__response-item-path {
  font-size: 10px;
  color: #999;
}
.transfer__runner__response-item-value {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.transfer__runner__response-item-value__content {
  font-size: 13px;
  margin-top: 3px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0px;
  display: flex;
  overflow: hidden;

  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0px;
  display: flex;
  align-items: center;
  justify-content: left;
  overflow: hidden;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
