#quotes {
  display: flex;
  flex-direction: column;
  margin: 20px;
  flex: 1 1 auto;
  min-height: 0px;
  margin: 0px;
}

#quotes_error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 30px;
  color: #c33;
}
.quotes__list {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0px;
}

.quote {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
}

.quote__row {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.quote__data__block {
  flex:  0 0 auto;
  width: 200px;
  height: 38px;
  display: flex;
  flex-direction: column;
}
.quote__data__label {
  font-size: 10px;
  color: #999;
  height: 15px;
  padding-top:5px;
  display: flex;
  align-items: center;
}
.quote__data__value {
  font-size: 14px;
  color: #333;
  flex: 1;
  display: flex;
  align-items: center;
}

.quote__response__form {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.quote__response__form-input {
  width: 250px;
  margin-right: 10px;
  display: flex;
  align-items: flex-end;

}